<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bus_ticket</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Hibernate dialect for MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Format SQL -->
        <property name="hibernate.format_sql">true</property>

        <!-- Hibernate schema generation -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entity mappings -->
        <mapping class="bus_ticket_entity.Bus"/>
        <mapping class="bus_ticket_entity.Feedback"/>
        <mapping class="bus_ticket_entity.Ticket"/>
        <mapping class="bus_ticket_entity.User"/>
    </session-factory>
</hibernate-configuration>
